* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2F2F2F;
}

.small {
    font-weight: 200;
    color: #d9d9d9;
}

.e {
    font-weight: 500;
    color: #acacac;
}

.bgburg {
    position: absolute;
    width: max-content;
    height: auto;
    z-index: -1
}

.bgburg {
    width: 100%;
  }
  
  .bgburg img {
    width: 100%;
    height: auto;
  }
  

.mainpage {
    height: 110vh;
    background:linear-gradient(
        to bottom,
        transparent 0%,
        transparent 50%,
        #2F2F2F 50%,
        #2F2F2F 100%
    );
}

.aboutpage {
    margin-top: 360px;
    background: #2F2F2F;
    height: 81vh;
}

.menu {
    background: #2F2F2F;
    height: 550vh;
}

.navbar-nav .nav-link {
    margin-right: 100px;
}

.navbar {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#carouselExampleCaptions {
    max-width: 990px;
    margin: 0 auto;
  }
  
.carousel-item img {
    max-width: 100%;
    height: auto;
}

.aboutpage {
    display: flex;
    align-items: center;
    color: white;
}

.abouten-pp {
    width: 290px;
    gap: 20px;
}

.menu-first {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    overflow-y: scroll;
    max-height: 70vh;
}

.burgers-menu {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    overflow-y: scroll;
    max-height: 70vh;
}

.drinks-menu {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    overflow-y: scroll;
    max-height: 70vh;
}

.fries-menu {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    overflow-y: scroll;
    max-height: 70vh;
}

.founders-abouts {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    overflow-y: scroll;
    max-height: 70vh;
}

.menu .menu-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    margin-bottom: 70px;
    position: relative;
}

.menu-title h2 {
    font-weight: 900;
}

.menu .menu-title::before,
.menu .menu-title::after {
    content: "";
    background-color: white;
    height: 2px;
    width: 35%;
    position: absolute;
}

.menu .menu-title::before {
    left: 0;
}

.menu .menu-title::after {
    right: 0;
}

.menu h3 {
    display: flex;
    justify-content: first baseline;
    align-items: first baseline;
    margin-left: 20px;
    color: white;
    font-size: 20px;

}

.geolocation {
    margin-top: 90px;
    color: white;
    text-align: center;
    height: 105vh;
    margin-bottom: 140px;
  }
  
  .geo-content {
    margin: auto;
  }
  
  .map {
    height: 500px;
    width: 100%;
  }
  
  iframe {
    width: 40%;
    height: 400px;
    margin-bottom: 10px;
  }
  
  .geolocation h2 {
    font-weight: 100;
  }

  .opening-hours ul {
    list-style: none;
    color: #acacac;
  }

  li {
    line-height: 60px;
  }
  

@media only screen and (min-width: 768px) {

    .menu-first {
        gap: 50px;
    }

    .burger {
        width: 100%;
        max-width: 900px;
        height: auto;
    }

    .abouten-pp p {
        width: 400px;
    }


    .menucard {
        transform: scale(1);
    }

    .burgers-menu {
        gap: 50px;
    }

    .drinks-menu {
        gap: 50px;
    }

    .founders-abouts {
        gap: 50px;
    }



}

@media only screen and (max-width: 767px) {

    .burger {
        width: 80%;
        max-width: none;
        height: auto;
    }

    .abouten-pp {
        text-align: center; /* Center the content */
    }

    .abouten-pp h4, .abouten-pp p, .abouten-pp button {
        max-width: 400px;
        margin: 0 auto 15px; /* Center and add some space between elements */
    }
    
}
